<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">

</head>
<body>
<!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">管理后台</h2>
                <a href="#" th:href="@{/admin/blogs}" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown  item">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/images/个人.jpg" th:src="@{${session.user.avatar}}">
                            <span th:text="${session.user.nickname}"></span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">退出</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black  icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a class="item" href="#" th:href="@{/admin/blogs/input}">新增</a>
                <a href="#" class="active item teal" th:href="@{/admin/blogs}">列表</a>
            </div>
        </div>
    </div>

<!--中间内容-->
    <div class="m-padded-tb-big m-container" >
        <div class="ui container">
            <div  class="ui secondary segment form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown ">
                                <input type="hidden" name="typeId">
                                <i class="dropdown icon"></i>
                                <div class="default text">分类</div>
                                <div class="menu">
                                    <div class="item" th:each="type : ${types}" th:value-value="${type.id}" th:text="${type.name}" data-value="1">错误日志</div>
                                </div>
                            </div>
                            <button id="clear-btn"  class="ui compact teal button">清空</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend" >推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button type="button" id="search-btn" class="ui teal basic button mini "><i class="search icon"></i> 搜索</button>
                    </div>
                </div>
            </div>
            <div id="table-container">
                <table th:fragment="blogList" class="ui center compact teal aligned celled table">
                    <thead>
                    <tr >
                        <th></th>
                        <th >标题</th>
                        <th >类型</th>
                        <th>推荐</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog,iterStat:${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">喜欢夏天</td>
                        <td th:text="${blog.type.name}">c++</td>
                        <td th:text="${blog.recommend} ? '是':'否'">是</td>
                        <td th:text="${blog.published} ? '发布':'草稿'">发布</td>
                        <td th:text="${blog.updateTime}">2023-5-28 10:23:24</td>
                        <td>
                            <a class="ui mini teal basic button" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" href="#">编辑</a>
                            <a class="ui mini red basic button" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" href="#">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini  pagination menu" th:if="${page.totalPages}>1">
                                <a class="item" onclick="page(this)" th:attr="data-page=${page.number}-1" th:unless="${page.first}">上一页</a>
                                <a class="item" onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}">下一页</a>
                            </div>
                            <a href="#" class="ui mini right floated teal basic button" th:href="@{/admin/blogs/input}">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示:</div>
                    <p th:text="${message}">恭喜，操作成功!</p>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<!--底部-->
    <footer class="ui vertical inverted segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../../static/images/微信.jpg" th:src="@{/images/微信.jpg}" class="ui rounded image" alt="我的名片" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">博客寄语</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">&nbsp;&nbsp;&nbsp;&nbsp;在微博上写上你的名字;在空间里存放你的相片;在博客中诉说我们的故事;让你的生日成为我的。</a>
<!--                        <a href="#" class="item">我不能忘记你，所以只有你忘记我才能结束这段感情。</a>-->
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: wangsbia198@163.com</a>
                        <a href="#" class="item">QQ: 3306877211</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">My Blog</h4>
                    <p class="m-opacity-mini m-text-thin m-text-spaced">博客是继MSN、BBS、ICQ之后出现的第4种网络交流方式，现已受到大家的欢迎，是网络时代的个人“读者文摘”，是以超链接为入口的网络日记，它代表着新的生活、工作和学习方式。这是我的个人博客，分享关于生活，感情，编程，写作相关的内容，希望可以给您带来帮助</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright©2023-2030 designed by wang</p>
        </div>
    </footer>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

<!--<script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.5.0/components/accordion.js"></script>-->
<script type="text/javascript">
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui .dropdown').dropdown({
        on:'hover'
    });


    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val()
        });
    }

    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });


    $('#clear-btn')
        .on('click', function() {
            $('.type.ui.dropdown')
                .dropdown('clear')
            ;
        })
    ;

</script>
</body>
</html>